/* :root {
    --primary-colorhijau-muda: rgba(4, 153, 4, 1);
    --primary-colorhijau-pudar-1: rgba(62, 188, 62, 1);
    --primary-colorhijau-pudar-2: rgba(206, 255, 157, 1);
    --aksesn-colororange: rgba(255, 176, 0, 1);
    --aksesn-colororange-kuning: rgba(253, 202, 14, 1);
    --aksesn-colorkuning: rgba(255, 255, 0, 1);
    --aksesn-colorputih: rgba(255, 255, 255, 1);
    --aksesn-colorabu-abu: rgba(249, 245, 245, 1);
    --aksesn-colorhitam: rgba(0, 0, 0, 1);
    --h1-reguler-font-family: "Poppins-Regular", Helvetica;
    --h1-reguler-font-weight: 400;
    --h1-reguler-font-size: 50px;
    --h1-reguler-letter-spacing: 0px;
    --h1-reguler-line-height: normal;
    --h1-reguler-font-style: normal;
    --h1-medium-font-family: "Poppins-Medium", Helvetica;
    --h1-medium-font-weight: 500;
    --h1-medium-font-size: 50px;
    --h1-medium-letter-spacing: 0px;
    --h1-medium-line-height: normal;
    --h1-medium-font-style: normal;
    --h1-semibold-font-family: "Poppins-SemiBold", Helvetica;
    --h1-semibold-font-weight: 600;
    --h1-semibold-font-size: 50px;
    --h1-semibold-letter-spacing: 0px;
    --h1-semibold-line-height: normal;
    --h1-semibold-font-style: normal;
    --h1-bold-font-family: "Poppins-Bold", Helvetica;
    --h1-bold-font-weight: 700;
    --h1-bold-font-size: 50px;
    --h1-bold-letter-spacing: 0px;
    --h1-bold-line-height: normal;
    --h1-bold-font-style: normal;
    --h2-reguler-font-family: "Poppins-Regular", Helvetica;
    --h2-reguler-font-weight: 400;
    --h2-reguler-font-size: 45px;
    --h2-reguler-letter-spacing: 0px;
    --h2-reguler-line-height: normal;
    --h2-reguler-font-style: normal;
    --h2-medium-font-family: "Poppins-Medium", Helvetica;
    --h2-medium-font-weight: 500;
    --h2-medium-font-size: 45px;
    --h2-medium-letter-spacing: 0px;
    --h2-medium-line-height: normal;
    --h2-medium-font-style: normal;
    --h2-semibold-font-family: "Poppins-SemiBold", Helvetica;
    --h2-semibold-font-weight: 600;
    --h2-semibold-font-size: 45px;
    --h2-semibold-letter-spacing: 0px;
    --h2-semibold-line-height: normal;
    --h2-semibold-font-style: normal;
    --h2-bold-font-family: "Poppins-Bold", Helvetica;
    --h2-bold-font-weight: 700;
    --h2-bold-font-size: 45px;
    --h2-bold-letter-spacing: 0px;
    --h2-bold-line-height: normal;
    --h2-bold-font-style: normal;
    --h3-reguler-font-family: "Poppins-Regular", Helvetica;
    --h3-reguler-font-weight: 400;
    --h3-reguler-font-size: 35px;
    --h3-reguler-letter-spacing: 0px;
    --h3-reguler-line-height: normal;
    --h3-reguler-font-style: normal;
    --h3-medium-font-family: "Poppins-Medium", Helvetica;
    --h3-medium-font-weight: 500;
    --h3-medium-font-size: 35px;
    --h3-medium-letter-spacing: 0px;
    --h3-medium-line-height: normal;
    --h3-medium-font-style: normal;
    --h3-semibold-font-family: "Poppins-SemiBold", Helvetica;
    --h3-semibold-font-weight: 600;
    --h3-semibold-font-size: 35px;
    --h3-semibold-letter-spacing: 0px;
    --h3-semibold-line-height: normal;
    --h3-semibold-font-style: normal;
    --h3-bold-font-family: "Poppins-Regular", Helvetica;
    --h3-bold-font-weight: 400;
    --h3-bold-font-size: 35px;
    --h3-bold-letter-spacing: 0px;
    --h3-bold-line-height: normal;
    --h3-bold-font-style: normal;
    --h4-reguler-font-family: "Poppins-Regular", Helvetica;
    --h4-reguler-font-weight: 400;
    --h4-reguler-font-size: 30px;
    --h4-reguler-letter-spacing: 0px;
    --h4-reguler-line-height: normal;
    --h4-reguler-font-style: normal;
    --h4-medium-font-family: "Poppins-Medium", Helvetica;
    --h4-medium-font-weight: 500;
    --h4-medium-font-size: 30px;
    --h4-medium-letter-spacing: 0px;
    --h4-medium-line-height: normal;
    --h4-medium-font-style: normal;
    --h4-semibold-font-family: "Poppins-SemiBold", Helvetica;
    --h4-semibold-font-weight: 600;
    --h4-semibold-font-size: 30px;
    --h4-semibold-letter-spacing: 0px;
    --h4-semibold-line-height: normal;
    --h4-semibold-font-style: normal;
    --h4-bold-font-family: "Poppins-Bold", Helvetica;
    --h4-bold-font-weight: 700;
    --h4-bold-font-size: 30px;
    --h4-bold-letter-spacing: 0px;
    --h4-bold-line-height: normal;
    --h4-bold-font-style: normal;
    --judul-reguler-font-family: "Poppins-Regular", Helvetica;
    --judul-reguler-font-weight: 400;
    --judul-reguler-font-size: 25px;
    --judul-reguler-letter-spacing: 0px;
    --judul-reguler-line-height: normal;
    --judul-reguler-font-style: normal;
    --judul-medium-font-family: "Poppins-Medium", Helvetica;
    --judul-medium-font-weight: 500;
    --judul-medium-font-size: 25px;
    --judul-medium-letter-spacing: 0px;
    --judul-medium-line-height: normal;
    --judul-medium-font-style: normal;
    --judul-semibold-font-family: "Poppins-SemiBold", Helvetica;
    --judul-semibold-font-weight: 600;
    --judul-semibold-font-size: 25px;
    --judul-semibold-letter-spacing: 0px;
    --judul-semibold-line-height: normal;
    --judul-semibold-font-style: normal;
    --judul-bold-font-family: "Poppins-Bold", Helvetica;
    --judul-bold-font-weight: 700;
    --judul-bold-font-size: 25px;
    --judul-bold-letter-spacing: 0px;
    --judul-bold-line-height: normal;
    --judul-bold-font-style: normal;
    --micro-judul-reguler-font-family: "Poppins-Regular", Helvetica;
    --micro-judul-reguler-font-weight: 400;
    --micro-judul-reguler-font-size: 10px;
    --micro-judul-reguler-letter-spacing: 0px;
    --micro-judul-reguler-line-height: normal;
    --micro-judul-reguler-font-style: normal;
    --micro-judul-medium-font-family: "Poppins-Medium", Helvetica;
    --micro-judul-medium-font-weight: 500;
    --micro-judul-medium-font-size: 10px;
    --micro-judul-medium-letter-spacing: 0px;
    --micro-judul-medium-line-height: normal;
    --micro-judul-medium-font-style: normal;
    --micro-judul-semibold-font-family: "Poppins-SemiBold", Helvetica;
    --micro-judul-semibold-font-weight: 600;
    --micro-judul-semibold-font-size: 10px;
    --micro-judul-semibold-letter-spacing: 0px;
    --micro-judul-semibold-line-height: normal;
    --micro-judul-semibold-font-style: normal;
    --micro-judul-bold-font-family: "Poppins-Bold", Helvetica;
    --micro-judul-bold-font-weight: 700;
    --micro-judul-bold-font-size: 10px;
    --micro-judul-bold-letter-spacing: 0px;
    --micro-judul-bold-line-height: normal;
    --micro-judul-bold-font-style: normal;
    --isi-reguler-font-family: "Poppins-Regular", Helvetica;
    --isi-reguler-font-weight: 400;
    --isi-reguler-font-size: 20px;
    --isi-reguler-letter-spacing: 0px;
    --isi-reguler-line-height: normal;
    --isi-reguler-font-style: normal;
    --isi-medium-font-family: "Poppins-Medium", Helvetica;
    --isi-medium-font-weight: 500;
    --isi-medium-font-size: 20px;
    --isi-medium-letter-spacing: 0px;
    --isi-medium-line-height: normal;
    --isi-medium-font-style: normal;
    --isi-semibold-font-family: "Poppins-SemiBold", Helvetica;
    --isi-semibold-font-weight: 600;
    --isi-semibold-font-size: 20px;
    --isi-semibold-letter-spacing: 0px;
    --isi-semibold-line-height: normal;
    --isi-semibold-font-style: normal;
    --isi-bold-font-family: "Poppins-Bold", Helvetica;
    --isi-bold-font-weight: 700;
    --isi-bold-font-size: 20px;
    --isi-bold-letter-spacing: 0px;
    --isi-bold-line-height: normal;
    --isi-bold-font-style: normal;
    --micro-isi-reguler-font-family: "Poppins-Regular", Helvetica;
    --micro-isi-reguler-font-weight: 400;
    --micro-isi-reguler-font-size: 5px;
    --micro-isi-reguler-letter-spacing: 0px;
    --micro-isi-reguler-line-height: normal;
    --micro-isi-reguler-font-style: normal;
    --micro-isi-medium-font-family: "Poppins-Medium", Helvetica;
    --micro-isi-medium-font-weight: 500;
    --micro-isi-medium-font-size: 5px;
    --micro-isi-medium-letter-spacing: 0px;
    --micro-isi-medium-line-height: normal;
    --micro-isi-medium-font-style: normal;
    --micro-isi-semibold-font-family: "Poppins-SemiBold", Helvetica;
    --micro-isi-semibold-font-weight: 600;
    --micro-isi-semibold-font-size: 5px;
    --micro-isi-semibold-letter-spacing: 0px;
    --micro-isi-semibold-line-height: normal;
    --micro-isi-semibold-font-style: normal;
    --micro-isi-bold-font-family: "Poppins-Bold", Helvetica;
    --micro-isi-bold-font-weight: 700;
    --micro-isi-bold-font-size: 5px;
    --micro-isi-bold-letter-spacing: 0px;
    --micro-isi-bold-line-height: normal;
    --micro-isi-bold-font-style: normal;
    --artikel-reguler-font-family: "Inter-Regular", Helvetica;
    --artikel-reguler-font-weight: 400;
    --artikel-reguler-font-size: 15px;
    --artikel-reguler-letter-spacing: 0px;
    --artikel-reguler-line-height: normal;
    --artikel-reguler-font-style: normal;
    --artikel-medium-font-family: "Poppins-Medium", Helvetica;
    --artikel-medium-font-weight: 500;
    --artikel-medium-font-size: 15px;
    --artikel-medium-letter-spacing: 0px;
    --artikel-medium-line-height: normal;
    --artikel-medium-font-style: normal;
    --artikel-semibold-font-family: "Poppins-SemiBold", Helvetica;
    --artikel-semibold-font-weight: 600;
    --artikel-semibold-font-size: 15px;
    --artikel-semibold-letter-spacing: 0px;
    --artikel-semibold-line-height: normal;
    --artikel-semibold-font-style: normal;
    --artikel-bold-font-family: "Poppins-Bold", Helvetica;
    --artikel-bold-font-weight: 700;
    --artikel-bold-font-size: 15px;
    --artikel-bold-letter-spacing: 0px;
    --artikel-bold-line-height: normal;
    --artikel-bold-font-style: normal;
} */

.property-1layout-footer-RX1 {
    border-top: solid 0.2rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 56.4rem;
    position: relative;
    width: 100%;

    .footer-MQf {
        align-items: center;
        background-color: #049904;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 56.4rem;
        left: 0;
        overflow: hidden;
        padding: 13.2rem 7rem 3rem 7rem;
        position: absolute;
        top: 0;
        width: 151.2rem;

        .pemisah-dsy {
            background-color: #000000;
            flex-shrink: 0;
            height: 0.1rem;
            margin-bottom: 1.6rem;
            width: 100%;
        }
        .isi-footer-AN7 {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            height: 26.2rem;
            margin: 0rem 15.3rem 2.4rem 2.8rem;
            width: calc(100% - 18.1rem);

            .quotes-Gg3 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                height: 100%;

                .auto-group-kvgf-RJ3 {
                    flex-shrink: 0;
                    height: 2.4rem;
                    margin-bottom: 0.6rem;
                    position: relative;
                    width: 6.9001rem;

                    .tagline-wXH {
                        align-items: baseline;
                        color: #ffffff;
                        display: flex;
                        font-family: Arial, "Source Sans Pro";
                        font-size: 1.6rem;
                        font-weight: 700;
                        height: 2.4rem;
                        justify-content: center;
                        left: 0.3rem;
                        letter-spacing: -0.016rem;
                        line-height: 1.5;
                        position: absolute;
                        top: 0;
                        white-space: nowrap;
                        width: 6.4rem;

                        .tagline-wXH-sub-0 {
                            color: #ffffff;
                            font-family: Poppins, "Source Sans Pro";
                            font-size: 1.6rem;
                            font-weight: 700;
                            letter-spacing: -0.016rem;
                            line-height: 1.5;
                        }
                        .tagline-wXH-sub-1 {
                            color: #ffff00;
                            font-family: Poppins, "Source Sans Pro";
                            font-size: 1.6rem;
                            font-weight: 700;
                            letter-spacing: -0.016rem;
                            line-height: 1.5;
                        }
                    }
                    .line-23-LrF {
                        height: 0;
                        left: 0;
                        object-fit: contain;
                        position: absolute;
                        top: 2.225rem;
                        vertical-align: top;
                        width: 6.9001rem;
                    }
                }
                .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-t75 {
                    color: #ffffff;
                    flex-shrink: 0;
                    font-family: Poppins, "Source Sans Pro";
                    font-size: 1.3rem;
                    font-style: italic;
                    font-weight: 400;
                    letter-spacing: -0.013rem;
                    line-height: 1.8461538462;
                    margin-bottom: 0.8rem;
                    max-width: 25.9rem;
                }
                .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-KCP {
                    color: #ffffff;
                    flex-shrink: 0;
                    font-family: Poppins, "Source Sans Pro";
                    font-size: 1.3rem;
                    font-style: italic;
                    font-weight: 400;
                    letter-spacing: -0.013rem;
                    line-height: 1.8461538462;
                    margin: 0rem 0rem 0.8rem 5.3rem;
                    max-width: 25.7rem;
                }
                .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-9x7 {
                    color: #ffffff;
                    flex-shrink: 0;
                    font-family: Poppins, "Source Sans Pro";
                    font-size: 1.3rem;
                    font-style: italic;
                    font-weight: 400;
                    letter-spacing: -0.013rem;
                    line-height: 1.8461538462;
                    margin-left: 13.5rem;
                    max-width: 28.1rem;
                }
            }
            .auto-group-xxrf-1jR {
                align-items: flex-start;
                box-sizing: border-box;
                display: flex;
                flex-shrink: 0;
                height: 100%;
                padding-left: 7.4rem;

                .about-us-8p3 {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-right: 12.8rem;
                    row-gap: 0.6rem;
                    width: 25.5rem;

                    .auto-group-i7sy-4So {
                        flex-shrink: 0;
                        height: 2.4rem;
                        position: relative;
                        width: 7.4rem;

                        .line-24-ofH {
                            height: 0;
                            left: 0;
                            object-fit: contain;
                            position: absolute;
                            top: 2.2123rem;
                            vertical-align: top;
                            width: 7.4rem;
                        }
                        .aboutus-8Sf {
                            align-items: baseline;
                            color: #ffffff;
                            display: flex;
                            font-family: Arial, "Source Sans Pro";
                            font-size: 1.6rem;
                            font-weight: 700;
                            height: 2.4rem;
                            justify-content: center;
                            left: 0.2rem;
                            letter-spacing: -0.016rem;
                            line-height: 1.5;
                            position: absolute;
                            top: 0;
                            white-space: nowrap;
                            width: 7rem;

                            .aboutus-8Sf-sub-0 {
                                color: #ffffff;
                                font-family: Poppins, "Source Sans Pro";
                                font-size: 1.6rem;
                                font-weight: 700;
                                letter-spacing: -0.016rem;
                                line-height: 1.5;
                            }
                            .aboutus-8Sf-sub-1 {
                                color: #ffff00;
                                font-family: Poppins, "Source Sans Pro";
                                font-size: 1.6rem;
                                font-weight: 700;
                                letter-spacing: -0.016rem;
                                line-height: 1.5;
                            }
                        }
                    }
                    .group-263-R4P {
                        align-items: flex-start;
                        box-sizing: border-box;
                        display: flex;
                        flex-shrink: 0;
                        margin-left: 0.1rem;
                        padding-left: 0.3125rem;
                        width: calc(100% - 0.1rem);

                        .location-9FH {
                            flex-shrink: 0;
                            height: 1.3029rem;
                            margin: 0.725rem 0.513rem 0rem 0rem;
                            object-fit: contain;
                            vertical-align: top;
                            width: 0.875rem;
                        }
                        .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-4t3 {
                            color: #ffffff;
                            flex-shrink: 0;
                            font-family: Poppins, "Source Sans Pro";
                            font-size: 1.4rem;
                            font-weight: 400;
                            letter-spacing: -0.014rem;
                            line-height: 1.7142857143;
                            max-width: 23.7rem;
                        }
                    }
                    .group-264-vfM {
                        align-items: center;
                        display: flex;
                        flex-shrink: 0;
                        margin: 0rem 3.6rem 0rem 0rem;
                        width: calc(100% - 3.6rem);

                        .icon-envelope-closed-3zs {
                            flex-shrink: 0;
                            height: 1.2rem;
                            margin: 0.2rem 0.5rem 0rem 0rem;
                            object-fit: contain;
                            vertical-align: top;
                            width: 1.6rem;
                        }
                        .foodysbussinesgmailcom-x6F {
                            color: #ffffff;
                            display: flex;
                            flex-shrink: 0;
                            font-family: Poppins, "Source Sans Pro";
                            font-size: 1.4rem;
                            font-weight: 400;
                            letter-spacing: -0.014rem;
                            line-height: 1.7142857143;
                            white-space: nowrap;
                        }
                    }
                    .group-265-TYo {
                        align-items: center;
                        box-sizing: border-box;
                        display: flex;
                        flex-shrink: 0;
                        margin: 0rem 13.5rem 0rem 0rem;
                        padding-left: 0.1333rem;
                        width: calc(100% - 13.5rem);

                        .calling-PST {
                            flex-shrink: 0;
                            height: 1.25rem;
                            margin: 0rem 0.633rem 0.1rem 0rem;
                            object-fit: contain;
                            vertical-align: top;
                            width: 1.3333rem;
                        }
                        .item-0274-2885822-W1H {
                            color: #ffffff;
                            flex-shrink: 0;
                            font-family: Poppins, "Source Sans Pro";
                            font-size: 1.4rem;
                            font-style: italic;
                            font-weight: 400;
                            letter-spacing: -0.014rem;
                            line-height: 1.7142857143;
                            white-space: nowrap;
                        }
                    }
                }
                .comunity-amq {
                    flex-shrink: 0;
                    margin-right: 7.9954rem;
                    width: 9.7046rem;

                    .comunity-Jxj {
                        align-items: baseline;
                        color: #ffffff;
                        display: flex;
                        font-family: Arial, "Source Sans Pro";
                        font-size: 1.6rem;
                        font-weight: 700;
                        letter-spacing: -0.016rem;
                        line-height: 1.5;
                        margin: 0rem 0rem 0.1rem 1.2rem;
                        white-space: nowrap;

                        .comunity-Jxj-sub-0 {
                            color: #ffffff;
                            font-family: Poppins, "Source Sans Pro";
                            font-size: 1.6rem;
                            font-weight: 700;
                            letter-spacing: -0.016rem;
                            line-height: 1.5;
                        }
                        .comunity-Jxj-sub-1 {
                            color: #ffff00;
                            font-family: Poppins, "Source Sans Pro";
                            font-size: 1.6rem;
                            font-weight: 700;
                            letter-spacing: -0.016rem;
                            line-height: 1.5;
                        }
                    }
                    .line-26-pJo {
                        background-color: #000000;
                        height: 0.1rem;
                        margin-bottom: 1.4rem;
                        width: 100%;
                    }
                    .group-266-ZnB {
                        height: 3rem;
                        object-fit: contain;
                        position: relative;
                        vertical-align: top;
                        width: 6.7rem;
                    }
                }
                .sosmed-htP {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-top: 0.1rem;

                    .social-media-rmH {
                        align-items: baseline;
                        color: #ffffff;
                        display: flex;
                        flex-shrink: 0;
                        font-family: Arial, "Source Sans Pro";
                        font-size: 1.6rem;
                        font-weight: 700;
                        letter-spacing: -0.016rem;
                        line-height: 1.5;
                        margin-left: 0.2rem;
                        white-space: nowrap;

                        .social-media-rmH-sub-0 {
                            color: #ffffff;
                            font-family: Poppins, "Source Sans Pro";
                            font-size: 1.6rem;
                            font-weight: 700;
                            letter-spacing: -0.016rem;
                            line-height: 1.5;
                        }
                        .social-media-rmH-sub-1 {
                            color: #ffff00;
                            font-family: Poppins, "Source Sans Pro";
                            font-size: 1.6rem;
                            font-weight: 700;
                            letter-spacing: -0.016rem;
                            line-height: 1.5;
                        }
                    }
                    .line-25-n2f {
                        background-color: #000000;
                        flex-shrink: 0;
                        height: 0.1rem;
                        margin-bottom: 1.4rem;
                        width: 10.0045rem;
                    }
                    .list-sosmed-usy {
                        flex-shrink: 0;
                        height: 3rem;
                        object-fit: contain;
                        position: relative;
                        vertical-align: top;
                        width: 14.1rem;
                    }
                }
            }
        }
        .pemisah-eqZ {
            background-color: #000000;
            flex-shrink: 0;
            height: 0.1rem;
            margin-bottom: 3.3rem;
            width: 100%;
        }
        .mark-list-CcB {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 21.2rem 0rem 33.9rem;
            width: calc(100% - 55.1rem);

            .copyright-2023-by-foodys-all-rights-reserved-jMD {
                color: #ffffff;
                flex-shrink: 0;
                font-family: Poppins, "Source Sans Pro";
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: -0.013rem;
                line-height: 1.8461538462;
                margin: 0rem 9.6rem 1.7rem 0rem;
                white-space: nowrap;
            }
            .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-1Zd {
                color: #ffffff;
                flex-shrink: 0;
                font-family: Poppins, "Source Sans Pro";
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: -0.013rem;
                line-height: 1.8461538462;
                white-space: nowrap;
            }
        }
    }
    .foodies-1-VDu {
        height: 27.7rem;
        left: 7.2rem;
        object-fit: cover;
        position: absolute;
        top: -6.2rem;
        vertical-align: top;
        width: 30.1rem;
    }
}
