body{
    font-family: 'Poppins', sans-serif;

}

.nav-link {
    color: white;
    transition: color 0.3s;
  }
  .nav-link:hover {
    color: rgb(225, 255, 0);
  }

  .nav-link.active {
    color: rgb(225, 255, 0) !important;
}
.custom-button {
    color: white;
    font-size: 20px;
    padding: 5px 20px;
  }

  .nav-item a, .nav-item button {
    margin-right: 10px;
  }


